.dropzone {
    -fx-background-color: rgba(200, 200, 255, 0.5);
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-alignment: center;
}


.selected {
    -fx-border-color: red;
    -fx-border-width: 1px;
}